@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee</h1>
    <p class="lead">CRUD Operations of Employee</p>
    <p><a href="/Employee" class="btn btn-primary btn-lg">Go To Employee &raquo;</a></p>
</div>
